<label for="pregunta" class="rem">Pregunta:</label>
<input type="text" id="pregunta" name="quiz[pregunta]" value="<%= quiz.pregunta %>" />
<br/>
<label for="respuesta" class="rem">Respuesta:</label>
<input type="text" id="respuesta" name="quiz[respuesta]" value="<%= quiz.respuesta %>" />
<br/>
<label for="resp" class="rem">Índice temático:</label>
<select name="quiz[categoria]">

  	<% var categorias=['otro', 'humanidades', 'ocio', 'ciencia', 'tecnologia']; %>
	<% var i; %>
	<% var selected; %>
	<% for (i=0; i < categorias.length; i++) { %>
	<%	selected=''; %>
	<%	if (quiz.categoria === categorias[i]) selected='selected'; %>
	<option value="<%= categorias[i] %>" <%= selected %>><%= categorias[i] %></option>
	<% } %>

</select>
<br/>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">